@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universidad de Costa Rica<br />
    Sede "Rodrigo Facio Brenes" Montes de Oca, San José, Costa Rica<br />
    <abbr title="Phone">Teléfono:</abbr>
    (506)2511-0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">kenneth.fonseca@ucr.ac.cr</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">B02441@ecci.ucr.ac.cr</a>
</address> 